<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>爆破圈</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/all.css" rel="stylesheet">
    <link href="../lib/layer_mobile/need/layer.css">
    <link href="../css/blast_circle.css" rel="stylesheet">
</head>
<body>
    <div class="common_header bg_black">
        <a href="../view/home.html">
            <div class="header_left"></div>
            <span class="header_back color_white" id="back">首页</span>
        </a>
        <h4 class="header_title color_white h4" id="title">爆破圈</h4>
        <img src="../img/circle_camera.png" class="camera">
    </div>
    <div class="content">
        <ul id="content_ul">

        </ul>
        <div class="say_input_div">
            <div class="input-group say_input_box">
                <input type="text" name = "say" id="say_input" class="form-control" placeholder="请输入评论" maxlength="100">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-success" id="btn_say">发送</button>
                </span>
            </div>
        </div>
    </div>
    <!-- js -->
    <!--<script src="../lib/zepto-1.2.0.js"></script>-->
    <!--<script src="../lib/zepto-touch.js"></script>-->
    <script src="../lib/jquery-3.1.1.min.js"></script>
    <script src="../lib/layer_mobile/layer.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/blast_circle.js"></script>
</body>
</html>