<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>线装药密度</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/all.css" rel="stylesheet">
    <link href="../css/count.css" rel="stylesheet">
    <link href="../lib/layer_mobile/need/layer.css">
</head>
<body>
<div class="common_header bg_black">
    <a href="javascript:history.go(-1);">
        <div class="header_left"></div>
        <span class="header_back color_white">返回</span>
    </a>
    <h4 class="header_title color_white h4">线装药密度</h4>
</div>
<div class="content">
    <div class="formula_box">
        <p class="formula">q<sub>l</sub> = 0.25πd<sub>e</sub><sup>2</sup>ρ<sub>e</sub>x10<sup>-6</sup></p>
    </div>
    <div class="input_container clear">
        <div>
            <div class="input_box">
                <div class="input_label" style="padding: 5px 0">
                    <span class="letter_sub">d<sub>e</sub></span>
                </div>
                <div class="input">
                    <input id="val_a1" class="val" type="number" name="val_a1" class="input_ctro" placeholder="(mm)" maxlength="5" oninput="if(value.length>15)value=value.slice(0,15)">
                </div>
            </div>
            <div class="input_box">
                <div class="input_label" style="padding: 5px 0">
                    <span class="letter_sub">ρ<sub>e</sub></span>
                </div>
                <div class="input">
                    <input id="val_a2" class="val" type="number" name="val_a2" class="input_ctro" placeholder="(g/cm3)" maxlength="5" oninput="if(value.length>15)value=value.slice(0,15)">
                </div>
            </div>
            <div class="result_box">
                <div class="result_label">
                    <span class="result_label color_white letter_sub">q<sub>l</sub></span>
                </div>
                <div class="result" id="result_a">
                    <input id="val_a3" class="val" type="text" name="val_a3" class="input_ctro" placeholder="(kg/m)" maxlength="5">
                    <div class="equals_box">
                        <span class="equals color_white">=</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- js-->
<script src="../lib/zepto-1.2.0.js"></script>
<script src="../lib/layer_mobile/layer.js"></script>
<script src="../js/count_2_6.js"></script>
</body>
</html>