<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>忘记密码</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/all.css" rel="stylesheet">
    <link href="../css/forget_password.css" rel="stylesheet">
    <link href="../lib/layer_mobile/need/layer.css">
</head>
<body>
<div class="common_header bg_black">
    <a href="javascript:window.history.go(-1);">
        <div class="header_left"></div>
        <span class="header_back color_white">返回</span>
    </a>
    <h4 class="header_title color_white h4">找回密码</h4>
</div>
<div class="content">
    <form action="" method="post">
        <div class="input_box">
            <input id="email" type="text" placeholder="请输入邮箱" name="email" maxlength="25">
        </div>
        <div class="input_box">
            <input id="code" type="text" placeholder="请输入验证码" maxlength="6">
            <button id="send_code" class="send_code_btn btn btn-primary" type="button">发送验证码</button>
        </div>
        <div class="input_box">
            <input id="newPwd" class="color_gray" type="password" name="password" placeholder="请输入新密码,6-10位" maxlength="10">
        </div>
        <div class="next_box">
            <button class="btn btn-primary next" id="next_btn" type="button">下一步</button>
        </div>
    </form>

    <!-- js-->
    <script src="../lib/zepto-1.2.0.js"></script>
    <script src="../lib/layer_mobile/layer.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/forget_password.js"></script>
</div>
</body>
</html>