<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>露天爆破</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/all.css" rel="stylesheet">
    <link href="../lib/layer_mobile/need/layer.css">
    <link href="../css/home_tab_group.css" rel="stylesheet">
</head>
<body>

        <div class="common_header bg_black">
            <a href="javascript:history.go(-1);">
                <div class="header_left"></div>
                <span class="header_back color_white">返回</span>
            </a>
            <h4 class="header_title color_white h4">露天爆破</h4>
        </div>
        <!-- 导航-->
        <div class="content">
            <div class="nav_box bg_white">
                <ul class="nav_bar_ul">
                    <li class = "nav_bar color_gray" id="item_1">
                        <span class="normal_span">台<span class="underLine">阶参</span>数</span>
                    </li>
                    <li class = "nav_bar color_gray" id="item_2">
                        <span class="normal_span">孔<span class="underLine">网参</span>数</span>
                    </li>
                    <li class = "nav_bar color_gray" id="item_3">
                        <span class="normal_span">装<span class="underLine">药参</span>数</span>
                    </li>
                    <li class = "nav_bar color_gray" id="item_4">
                        <span class="normal_span">爆<span class="underLine">破方</span>量</span>
                    </li>
                    <li class = "nav_bar color_gray" id="item_5">
                        <span class="normal_span">预<span class="underLine">裂爆</span>破</span>
                    </li>
                    <li class = "nav_bar color_gray" id="item_6">
                        <span class="normal_span">炸<span class="underLine">药单</span>耗</span>
                    </li>
                    <li class = "nav_bar color_gray" id="item_7">
                        <span class="normal_span">爆<span class="underLine">破飞</span>石</span>
                    </li>
                </ul>
            </div>
    </div>
<!-- js -->
<script src="../lib/jquery-3.1.1.min.js"></script>
<script src="../lib/layer_mobile/layer.js"></script>
<script src="../lib/zepto-1.2.0.js"></script>
<script src="../js/common.js"></script>
<script src="../js/library_new.js"></script>
<script src="../js/home_tab_group.js"></script>
</body>
</html>