<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/all.css" rel="stylesheet">
    <link href="../lib/layer_mobile/need/layer.css">
    <link href="../css/home.css" rel="stylesheet">
</head>
<body>
    <div class="common_header bg_black">
        <!--<a class="search"><span class="glyphicon glyphicon-search"></span>&nbsp;搜索爆破内容</a>-->
        <h4 class="header_title color_white h4 bg_black">爆破助手</h4>
    </div>
    <div class="home_tab clear">
        <ul>
            <li>
                <a href="vibrate_count.html" class="count_check">
                    <div>
                        <img src="../img/home_tab_1.png" class="tab_img">
                        <span class="tab_head">振动计算</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="count_1_1.html" class="count_check">
                    <div>
                        <img src="../img/home_tab_2.png" class="tab_img">
                        <span class="tab_head">台阶参数</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="count_1_2.html" class="count_check">
                    <div>
                        <img src="../img/home_tab_3.png" class="tab_img">
                        <span class="tab_head">孔网参数</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="count_1_3.html" class="count_check">
                    <div>
                        <img src="../img/home_tab_4.png" class="tab_img">
                        <span class="tab_head">装药参数</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="count_1_4.html" class="count_check">
                    <div>
                        <img src="../img/home_tab_5.png" class="tab_img">
                        <span class="tab_head">爆破方案</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="count_1_5.html" class="count_check">
                    <div>
                        <img src="../img/home_tab_6.png" class="tab_img">
                        <span class="tab_head">抛掷参数</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="count_1_6.html" class="count_check">
                    <div>
                        <img src="../img/home_tab_7.png" class="tab_img">
                        <span class="tab_head">装药密度</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="count_2_2.html" class="count_check">
                    <div>
                        <img src="../img/home_tab_8.png" class="tab_img">
                        <span class="tab_head">掘进爆破</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="count_2_3.html" class="count_check">
                    <div>
                        <img src="../img/home_tab_9.png" class="tab_img">
                        <span class="tab_head">光面预裂</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <div id="all">
                        <img src="../img/home_tab_10.png" class="tab_img">
                        <span class="tab_head">全部</span>
                    </div>
                </a>
            </li>
            <li class="control">
                <a href="javascript:void(0);">
                    <div id="simple">
                        <img src="../img/home_tab_14.png" class="tab_img">
                        <span class="tab_head">收起</span>
                    </div>
                </a>
            </li>
            <li class="control">
                <a href="count_2_5.html" class="count_check">
                    <div>
                        <img src="../img/home_tab_11.png" class="tab_img">
                        <span class="tab_head">炸药单耗</span>
                    </div>
                </a>
            </li>
            <li class="control">
                <a href="count_4_2.html" class="count_check">
                    <div>
                        <img src="../img/home_tab_12.png" class="tab_img">
                        <span class="tab_head">烟囱拆除</span>
                    </div>
                </a>
            </li>
            <li class="control">
                <a href="count_7_3.html" class="count_check">
                    <div>
                        <img src="../img/home_tab_13.png" class="tab_img">
                        <span class="tab_head">爆破飞石</span>
                    </div>
                </a>
            </li>

        </ul>
    </div>
    <div class="bg_gray blast_circle">
        <h3 class="color_gray">爆破圈</h3>
        <div class="into_blast clear bg_white">
            <a href="../view/blast_circle.html" class="clear" id="b_circle">
                <div class="into_head">
                    <img src="../img/head_icon.png" class="into_icon" id="header_1">
                    <img src="../img/head_icon.png" class="into_icon" id="header_2">
                    <img src="../img/head_icon.png" class="into_icon" id="header_3">
                </div>
                <div class="into_right">
                    <span class="color_black_3">精彩内容，一网打尽 &nbsp;<img src="../img/home_more.png" class="home_more_right"></span>
                </div>
            </a>
        </div>
    </div>
    <div class="section_box bg_gray">
        <h3 class="color_gray">最新资讯</h3>
        <section class="content bg_white">
            <ul id="news">
                    <li>
                        <img src="../img/head_icon.png" class="section_icon"> <span class="color_black_3 section_name">管理员</span>
                        <p class="color_black_3 section_p_1">喜讯！京工博创获6项国家版权局计算机软件著作权</p>
                        <img src="../img/home_news_1.jpg" class="section_image">
                        <p class="color_gray section_p_2">发布日期：2017-07-19 12:17:34 </p>
                    </li>
            </ul>
        </section>
    </div>
    <!-- bottom-->
    <div class="nav_bottom bg_white">
        <ul class="nav_bottom_ul">
            <li id="mine_link_1">
                <a href="javascript:void(0);">
                    <img src="../img/nav_bottom_focus_1.png">
                    <p class="nav_bottom_txt nav_home color_blue">首页</p>
                </a>
            </li>
            <li id="mine_link_2">
                <!--<a href="../view/library.html">-->
                <a href="javascript:void(0);">
                    <img src="../img/nav_bottom_2.png">
                    <p class="nav_bottom_txt color_gray_7">参数表</p>
                </a>
            </li>
            <li id="mine_link_3">
                <a href="javascript:void(0);">
                    <img src="../img/nav_bottom_3.png">
                    <p class="nav_bottom_txt color_gray_7">我的</p>
                </a>
            </li>
        </ul>
    </div>
    <!-- js -->
    <!--<script src="../lib/zepto-1.2.0.js"></script>-->
    <!--<script src="../lib/zepto-touch.js"></script>-->
    <script src="../lib/jquery-3.1.1.min.js"></script>
    <script src="../lib/layer_mobile/layer.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/home.js"></script>
</body>
</html>