<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>参数表</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/all.css" rel="stylesheet">
    <link href="../css/library_new.css" rel="stylesheet">
</head>
<body class="bg_gray">
<div>
    <div class="common_header bg_black">
        <a class="search"><span class="glyphicon glyphicon-search"></span>&nbsp;搜索爆破内容</a>
    </div>
    <!-- 导航-->
    <div class="nav_box clear bg_white">
        <ul class="nav_bar_ul">
            <li class = "nav_bar color_gray">
                <span>特种爆破</span>
            </li>
            <li class = "nav_bar color_gray">
                <span>爆破器材</span>
            </li>
            <li class = "nav_bar color_gray">
                <span>施工设备</span>
            </li>
            <li class = "nav_bar color_gray">
                <span>岩体特性</span>
            </li>
            <li class = "nav_bar color_gray">
                <span>露天爆破</span>
            </li>
            <li class = "nav_bar color_gray">
                <span>掘进爆破</span>
            </li>
            <li class = "nav_bar color_gray">
                <span>拆除爆破</span>
            </li>
            <li class = "nav_bar color_gray">
                <span>爆破安全</span>
            </li>
        </ul>
    </div>
    <div class="items">
        <ul id="item_list">
        </ul>
    </div>

</div>
<!-- bottom-->
<div class="nav_bottom bg_white">
    <ul class="nav_bottom_ul">
        <li>
            <a href="../view/home.html">
                <img src="../img/nav_bottom_1.png">
                <p class="nav_bottom_txt color_gray_7">首页</p>
            </a>
        </li>
        <li>
            <!--<a href="../view/library.html">-->
            <a href="../view/library_new.html">
                <img src="../img/nav_bottom_focus_2.png">
                <p class="nav_bottom_txt color_blue">参数表</p>
            </a>
        </li>
        <li>
            <a href="../view/mine.html">
                <img src="../img/nav_bottom_3.png">
                <p class="nav_bottom_txt color_gray_7">我的</p>
            </a>
        </li>
    </ul>
</div>
<!-- js -->
<script src="../lib/zepto-1.2.0.js"></script>
<script src="../js/library_new.js"></script>
</body>
</html>