
/**/
.content{
    margin-top: 50px;
}
.content li{
    border-bottom: 1px solid #e5e5e5;
}
.out_li{
    padding-bottom: 10px;
}
.head_icon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.head{
    padding: 5px 15px;
}
.head > img{
    margin-top: -25px;
}
.head_info{
    display: inline-block;
    margin: 5px;
}
.head_info p{
    font-size: 15px;
}
.head_info span{
    font-size: 12px;
}
.pic{
    padding: 0 15px 5px;
}
.pic img{
    /*width: 100%;*/
    /*height: 200px;*/

    width:32%;
    height:100px;
    margin: 2px 1px;
    border: 1px solid #9d9d9d;
}
.circle_img{
    width: 18px;
    height: 17px;
}
.txt_content{
    font-size: 15px;
    padding: 0 15px 5px;
}
.say_good{
    padding: 10px 5px 10px 5px ;
    height: 30px;
}
.say_good div{
    float: right;
    display: inline-block;
    padding-right: 20px;
}
.say_num{
    color: #AFAFAF;
}
.good_num{
    color: #AFAFAF;
}
.say{
    padding: 5px 15px;
}
.say_nickname{
    font-size: 13px;
}
.say_content{
    font-size: 13px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
.say_input_box{
    position: fixed;
    bottom: 0;
    left: 0;
}
.say_input_div{
    display: none;
}
.say_input{
    box-shadow: inset 0 1px 1px rgba(0,0,0,0);
}
.comment_ul li{
    border: none;
}
#btn_say{
    background: #098CE5;
    border: 1px solid #098CE5;
}