@charset "utf-8";
/**/
.content{
    margin-top: 50px;
}
.content img{
    margin-right: 8px;
}
.content input{
    width: 60%;
    border: none;
    display: inline-block;
    font-size: 14px;
    overflow: hidden;
}
.input_box{
    border-bottom:1px solid #9B9B9B;
    padding:10px;
    margin: 10px 15px;
}
.next_box{
    padding: 0 10px;
}
.next{
    width: 100%;
    display:block;
    padding: 10px;
}
#send_code,#next_btn{
    background-color: #098ce5;
    border:1px solid #098ce5;
}
.send_code_btn{
    display: inline-block;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    border:none;
    background-color: #2689BC;
    color: #FFFFFF;
    float: right;
}