
.common_header{
    z-index: 100;
    padding: 9px 30px;
}
/*选项卡*/
.home_tab{
    border-bottom: 1px solid #E5E5E5;
    padding:0 10px;
    margin-top: 50px;
}
.home_tab li{
    width: 25%;
    float: left;
    text-align: center;
}
.home_tab a{
    margin: 0;
}
.tab_img{
    display: block;
    margin: 10px auto;
    width: 28px;
    height: 28px;
}
.tab_head{
    font-size: 10px;
    color: #474747;
    display: block;
    margin-bottom: 10px;
}
/*爆破圈*/
.blast_circle{
    padding: 20px 10px 10px;
}
.into_blast{
    margin-top: 10px;
    padding: 5px;
}
.home_more_right{
    width: 7px;
    height: 11px;
}
.into_head{
    width: 100px;
    height: 50px;
    float: left;
    text-align: center;
    margin-left: 5px;
    position: relative;
}
.into_icon{
    border: 1px solid #9d9d9d;
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    bottom: 5px;
}
.into_head img:nth-child(1){
    left: 0px;
}
.into_head img:nth-child(2){
    left: 25px;
}
.into_head img:nth-child(3){
    left: 50px;
}
.into_right{
    float: right;
    margin: 15px 4px 15px 10px;
}
.into_right span{
    font-size: 14px;
}
.into_right span img{
    margin-top: -3px;
}
/*滚动区*/
.section_box{
    padding:15px 10px 15px;
}
.content{
    margin-top: 10px;
    margin-bottom: 50px;
}
.content ul{
    overflow: auto;
}
.content li{
    border-bottom: 10px solid #EDEEF0;
}
.section_icon{
    width: 40px;
    height: 40px;
    border: 1px solid #9d9d9d;
    border-radius: 50%;
    margin: 10px 5px 5px 9px;
}
.section_name{
    font-size: 15px;
}
.section_image{
    width: 100%;
    height: 150px;
}
.section_p_1{
    font-size: 15px;
    margin: 5px 9px;
}
.section_p_2{
    font-size: 12px;
    margin: 9px;
}
