@charset "utf-8";
.common_header{
    z-index: 100;
    padding: 9px 30px;
}
/**/
.nav_box{
    margin-top: 50px;
    text-align: center;
    padding:1px 10px;
    width: 100%;
    overflow: auto;
    border-bottom: 1px solid #9B9B9B;
}
/*隐藏滚动条，兼容不好*/
::-webkit-scrollbar
{
    width: 0;
    height: 0;
    background-color: rgba(0,0,0,0);
}
.nav_bar_ul{
    width: 200%;
}
.nav_box li{
    margin-top: 10px;
    text-overflow: ellipsis;
}
.nav_bar{
    float: left;
    width: 12.5%;
    /*width:25%;*/
    font-size: 16px;
}
.nav_bar span{
    border-bottom:2px solid #ffffff;
}
.items{
    margin-top: 15px;
}
.item_li{
    background-color: #ffffff;
    border-bottom: 1px solid #C7C7C7;
    padding: 10px 15px;
    font-size: 15px;
}
.right{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(../img/defused_right.png) no-repeat center;
    float: right;
}

