@charset "utf-8";
.common_header{
    z-index: 100;
    padding: 9px 30px;
}
/**/
.nav_box{
    margin-top: 45px;
    text-align: center;
    padding:1px 10px;
    width: 100%;
    overflow: auto;
    border-bottom: 1px solid #D1D1D1;
}
/*隐藏滚动条，兼容不好*/
::-webkit-scrollbar
{
    width: 0;
    height: 0;
    background-color: rgba(0,0,0,0);
}
.nav_bar_ul{
    width: 200%;
    height: 41px;
}
.nav_box li{
    margin-top: 10px;
    text-overflow: ellipsis;
}
.nav_bar{
    float: left;
    width: 12.5%;
    /*width:25%;*/
    font-size: 15px;
}
.nav_bar span{
    border-bottom:2px solid #ffffff;
}
.underLine{
    padding-bottom: 10px;
}
.items{
    margin-top: 15px;
}
.item_li{
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px;
    font-size: 15px;
}
.right{
    display: inline-block;
    float: right;
}
.right img{
    width: 8px;
    height: 13px;
}


