#mine_info{
    margin: 10px 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.content{
    overflow: auto;
    margin: 44px 0 60px;
}
.mine_header{
    position: relative;
    margin-top: 5px;
    padding: 0 10px;
}
#mine_icon{
    width: 60px;
    height: 60px;
    display: inline-block;
    margin-right: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}
#nickname{
    font-size: 16px;
    padding-top: 5px;
    margin-bottom: 5px;
    margin-left:60px;
}
.nickname_box{
    display: inline-block;
    margin: 10px;
}
.nickname_box span{
    font-size: 13px;
    margin-left: 60px;

}
.mine_item{
    padding-left: 10px;
}
.level_box{
    height: 35px;
    padding: 0 10px;
}
.level{
    display: inline-block;
    font-size: 15px;
    line-height: 35px;
}
#now_lev{
    display: inline-block;
    border: 1px solid red;
    border-radius: 3px;
    font-size: 11px;
    margin: 0 5px;
}
#less_lev{
    font-size: 11px;
}
.mineList li{
    background-color: #ffffff;
    padding: 10px;
    font-size: 16px;
    position: relative;
    border-bottom: 1px solid #e5e5e5;
}
.mine_img{
    width: 31px;
    height: 31px;
}
.mineList img{
    display: inline-block;
}
.right{
    height: 20px;
    display: inline-block;
    position: absolute;
    margin: auto 10px;
    top: 0;
    right: 0;
    bottom: 0;
}
.right img{
    width: 8px;
    height: 13px;
}
.mineList li:first-child{
    border-top: 1px solid #e5e5e5;
    margin: 10px 0;
}
.mineList li:nth-child(2){
    border-top: 1px solid #e5e5e5;
}
.mineList li:nth-child(4),.mineList li:last-child{
    border-top: 1px solid #e5e5e5;
    margin-top: 10px;
}
.dialog_body{
    font-size: 16px;
    text-align: center;
}
.dialog_btn{
    padding: 0;
}
.dialog_btn div{
    width: 49%;
    height: 100%;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    padding: 15px 0;
}
.dialog_btn div:first-child{
    border-right: 1px solid #E5E5E5;
}
/*Ä£Ì¬¿ò´¹Ö±¾ÓÖÐ*/
#exit_modal{
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 80%;
}