@charset "utf-8";
/**/
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.form_info{
    padding: 0 15px;
    margin-top: 50px;
}
#ownSign{
    width: 100%;
    height: 100px;
    overflow: auto;
    resize: none;
}
.input_box{
    margin: 10px 0;
}
#change_ok{
    background-color: #098ce5;
    border-color: #098ce5;
    margin: 0 auto;
}