.content{
    margin-top: 50px;
}
.headerImg{
    position: relative;
    padding: 40px 10px;
    margin: 15px 0 10px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.headerImg span{
    font-size: 16px;
}
#header_icon{
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto 10px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.info_name{
    font-size: 16px;
    max-lines: 1;
    text-overflow: ellipsis;
}
.info_li{
    padding: 10px;
    position: relative;
}
.info_data{
    float: right;
    margin: 0 20px;
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.list li{
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
}
.list li:first-child{
    border-top: 1px solid #e5e5e5;
}
.right{
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    margin: auto 10px;
    top: -5px;
    right: -8px;
    bottom: 0;
}
.right img{
    width: 8px;
    height: 13px;
}
