.headerImg{
    position: relative;
    padding: 40px 15px;
    margin: 15px 0 10px;
    border-top: 1px solid #C7C7C7;
    border-bottom: 1px solid #C7C7C7;
}
.headerImg span{
    font-size: 16px;
}
#header_icon{
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto 10px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.info_name{
    font-size: 16px;
}
.info_li{
    padding: 10px 15px;
    position: relative;
}
.info_data{
    float: right;
    margin: 0 20px;
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.list li{
    background-color: #ffffff;
    border-bottom: 1px solid #C7C7C7;
}
.list li:first-child{
    border-top: 1px solid #C7C7C7;
}
.right{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(../img/defused_right.png) no-repeat center;
    position: absolute;
    margin: auto 10px;
    top: 0;
    right: 0;
    bottom: 0;
}
/*公共头部分未提取*/
.common_header{
    text-align: center;
    position: relative;
    width: 100%;
    height: 44px;
    overflow: hidden;
}
.header_title{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 70px;
    right: 70px;
    line-height: 24px;
}
.common_header a{
    display: block;
    width: 100px;
}
.header_left{
    width: 20px;
    height: 20px;
    background: url(../img/back.png) no-repeat center;
    display: inline-block;
    float: left;
    margin: 11px 5px 10px 10px;
}
.header_back{
    padding: 10px 0;
    float: left;
    line-height: 24px;
}