@charset "utf-8";
/*content*/
.register_box{
    width: 100%;
    margin-top: 50px;
    padding: 5px 20px;
    font-size: 15px;

}
.register_input{
    border:none;
    border-bottom: 1px solid #9d9d9d;
    margin: 6px 0;
    padding: 6px;
    width: 100%;
}
#register_ok{
    width: 100%;
    height: 46px;
    margin-top: 16px;
    background-color: rgba(9,140,229,0.25);
    border:1px solid rgba(9,140,229,0.25);
    font-size: 17px;
}
#code_btn{
    float: right;
    position: absolute;
    top: 4px;
    right: 0;
    font-size: 14px;
}