@charset "utf-8";
/*content*/
.register_box{
    width: 100%;
    margin-top: 50px;
    padding: 5px 15px;
    font-size: 15px;

}
.register_input{
    border:none;
    border-bottom: 1px solid #9d9d9d;
    margin: 6px 0;
    padding: 6px;
    width: 100%;
}
#register_ok{
    width: 100%;
    margin-top: 10px;
    background-color: #098ce5;
    border:1px solid #098ce5;
}
#code_btn{
    float: right;
    position: absolute;
    top: 4px;
    right: 0;
    font-size: 14px;
}