@charset "utf-8";
/**/
.trends_box{
    width: 100%;
    margin-top: 50px;
    padding: 0 15px;
}
.trends_txt{
    padding: 5px;
    width: 100%;
    height: 150px;
    overflow: auto;
    font-size: 14px;
    resize: none;
    border: 1px solid #AFAFAF;
    text-indent: 1em;
    letter-spacing: 2px;
}
#addImg{
    float: right;
}
.upload_img{
    width: 32%;
    height: 130px;
    margin-top: 5px;
    display: inline-block;
    visibility: hidden;
    border: 1px solid #9d9d9d;
}